nav{

    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}


body{
    margin: 0px;
    background-image: url(../img/pattern.jpg);
}

ul{
    list-style-type: none;
}

li{

    display:inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
}

#article-list{

    margin: 85px 150px 40px;
    padding: 30px;
    background-color: white;
}

h1{
    text-align: center;
   
}
article{
    margin-top: 10px;
    border-bottom: 3px solid black;
}

footer{

    display: flex;
    justify-content: center;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    
}

h5{
    text-align: center;
    color: white;
}